{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>
</head>
<body>
    <header class="relative z-100 mx-6 px-3 py-5 flex justify-between items-center">
        {% comment %} LOGO  {% endcomment %}
        <div class="img flex justify-center items-center">
            <img src=" {% static 'images/logo1.png' %}" alt="" style="width: 50px;">
            <h1 class="text-xl font-semibold text-white">Events</h1>

        </div>

        <button id="hamburgerBtn" class="md:hidden flex flex-col gap-1 p-2">
            <span class="block w-6 h-0.5 bg-white"></span>
            <span class="block w-6 h-0.5 bg-white"></span>
            <span class="block w-6 h-0.5 bg-white"></span>
        </button>

        
        {% comment %} NAVIGATION  {% endcomment %}
        <nav class="hidden md:flex md:gap-4 items-center">
            <ul class="flex flex-col  md:flex-row gap-4  text-white">
               <a href="{% url "home" %}"> <li class="px-2 py-1 rounded-sm hover:bg-white/20">Home</li></a>
               <a href="{% url "home" %}#all-events"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Explore</li></a>
               <a href="{% url "home" %}#rsvp_events"><li class="px-2 py-1 rounded-sm hover:bg-white/20">RSVP</li></a>
               
                {% if perms.events.add_category %}
                    <li class="relative z-50 px-2 py-1 rounded-sm hover:bg-white/20">
                        <div class="relative inline-block group">
                            <div class="flex items-center cursor-pointer">
                                <span class="">Category</span>
                                    
                            </div>
                            <div 
                                class="absolute right-0 w-44 rounded-md bg-slate-800 shadow-lg ring-1 ring-black/5
                                opacity-0 invisible group-hover:opacity-100 group-hover:visible
                                transition duration-150">
                                    <a href="{% url "create-category" %}" target="__<blank" class="block  px-4 py-2 text-sm hover:bg-gray-700">Create</a>
                                    <a href="{% url "category-list" %}" target="__<blank" class="block  px-4 py-2 text-sm hover:bg-gray-700">View</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
                {% if perms.group.add_group %}

                <li class="relative z-50 px-2 py-1 rounded-sm hover:bg-white/20">
                        <div class="relative inline-block group">
                            <div class="flex items-center cursor-pointer">
                                <span class="">Groups</span>
                                    
                            </div>
                            <div 
                                class="absolute right-0 w-44 rounded-md bg-slate-800 shadow-lg ring-1 ring-black/5
                                opacity-0 invisible group-hover:opacity-100 group-hover:visible
                                transition duration-150">
                                    <a  href="{% url "group_list" %}" target="__<blank" class="block  px-4 py-2 text-sm hover:bg-gray-700">View</a>
                                    <a href="{% url "create_group" %}" target="__<blank" class="block  px-4 py-2 text-sm hover:bg-gray-700">Create</a>
                            </div>
                        </div>
                    </li>
                
               {% endif %}
                
               {% if perms.group.add_group %}
                <a href="{% url "organizer" %}"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Organizer</li></a>
               {% endif %}
                <a href="{% url "dashboard" %}"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Dashboard</li></a>
                
               
                <li>
                    <form method="POST" action="{% url "logout" %}">
                        {% csrf_token %}
                        <button type="submit" class="px-2 py-1 bg-white/30 backdrop-blur-sm rounded text-white text-center font-semibold border border-white/50 hover:bg-white/20">
                            logout
                        </button>
                    </form>
                </li>
                <a href="https://github.com/JUBAYER-AHMMED">
                    <li>
                        <button class="w-10 h-10 bg-slate-500/30 backdrop-blur-sm rounded-full text-white text-center font-semibold border border-white/50 hover:bg-slate-500">
                            J
                        </button>
                    </li>
                </a>  

            </ul>
        </nav>
    </header>
    <ul id="navMenu"
    class="hidden flex-col items-center justify-center relative z-30 gap-4
           text-white text-lg text-center md:hidden
           border backdrop-blur-sm border-white/5 bg-transparent shadow-md p-2">
        <a href="{% url "home" %}"> <li class="px-2 py-1 rounded-sm hover:bg-white/20">Home</li></a>
        <a href="{% url "home" %}#all-events"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Explore</li></a>
        {% if perms.group.add_group %}
            <a href="{% url "group_list" %}"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Groups</li></a>
            <a href="{% url "create_group" %}"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Create Groups</li></a> 
        {% endif %}
        {% if perms.event.add_event %}
            <a href="{% url "organizer" %}"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Organizer</li></a>
        {% endif %}        
        <a href="{% url "dashboard" %}"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Dashboard</li></a>
        {% if perms.category.add_category %}
                    <li class="relative z-50 px-2 py-1 rounded-sm hover:bg-white/20">
                        <div class="relative inline-block group">
                            <div class="flex items-center cursor-pointer">
                                <span class="">Category</span>
                                    
                            </div>
                            <div 
                                class="absolute right-0 w-44 rounded-md bg-slate-800 shadow-lg ring-1 ring-black/5
                                opacity-0 invisible group-hover:opacity-100 group-hover:visible
                                transition duration-150">
                                    <a href="{% url "create-category" %}" target="__<blank" class="block  px-4 py-2 text-sm hover:bg-gray-700">Create</a>
                                    <a href="{% url "category-list" %}" target="__<blank" class="block  px-4 py-2 text-sm hover:bg-gray-700">View</a>
                            </div>
                        </div>
                    </li>
        {% endif %}

        

        
        <li>
            <form method="POST" action="{% url "logout" %}">
                {% csrf_token %}
                <button type="submit" class="px-2 py-1 bg-white/30 backdrop-blur-sm rounded text-white text-center font-semibold border border-white/50">
                    logout
                </button>
            </form>
        </li> 
        <a href="https://github.com/JUBAYER-AHMMED">
            <li>
                <button class="w-10 h-10 bg-gray-800/30 backdrop-blur-sm rounded-full text-white text-center font-semibold border border-white/50">
                J
                </button>
            </li>
        </a>
    </ul>
    
</body>
</html>