
{% load static %}



<section class="rsvp_events my-6">
            
        
<div id="rsvp_events" class="container mx-auto my-8 border rounded flex flex-col items-center min-h-[50vh]">
    <h1 class="text-center font-bold 
        bg-gradient-to-r  from-slate-700 via-red-400 to-black
          bg-clip-text text-transparent text-4xl md:text-5xl  mt-8 mb-5 md:mb-8 pb-5
    ">RSVP EVENTS</h1>
    {% if rsvp_events.exists %}
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 my-2">
        {% for event in rsvp_events %}
        {% comment %} <li>{{event.category}}</li> {% endcomment %}
        <a href="{% url 'event-details' event.id %}" target="">
            <div class="relative w-64 h-72 rounded-3xl overflow-hidden bg-cover bg-center"
            style="background-image: url('{% if event.asset and event.asset.url %}{{event.asset.url}}{% else %}{{ MEDIA_URL }}default_img.jpg{% endif %}');">

            {% comment %} style="background-image: url('{% if event.category.name == 'Education' %}{% static 'images/classroom.png' %}{% elif event.category.name == 'Health & Wellness' %}{% static 'images/hlt2.jpg' %}{% elif event.category.name == 'Islamic Functions' %}{% static 'images/ift2.avif' %}{% elif event.category.name == "Technology" %}{% static 'images/adt.jpg' %}{% elif event.category.name == "Business & Entrepreneurship" %}{% static 'images/adt2.jpg' %}{% elif event.category.name == "Sports & Fitness" %}{% static 'images/std2.jpg' %}{% elif event.category.name == "Arts & Culture" %}{% static 'images/clt4.jpg' %}{% else %}{% static 'images/bg1.jpg' %}{% endif %}');"> {% endcomment %}

            
            <div class="absolute bottom-0 left-0 w-full h-2/3
                        {% if event.category.name == 'Education' %}bg-gradient-to-t from-pink-300/90 via-black/60 to-transparent
                        {% elif event.category.name == "Business & Entrepreneurship" %}bg-gradient-to-t from-red-400/90 via-yellow-400/60 to-transparent
                        {% elif event.category.name == "Sports & Fitness" %}bg-gradient-to-t from-green-800/90 via-green-400/60 to-transparent
                        {% elif event.category.name == "Arts & Culture" %}bg-gradient-to-t from-red-800/90 via-red-400/60 to-transparent
                        {% elif event.category.name == "Technology" %}bg-gradient-to-t from-violet-800/90 via-blue-300/40 to-transparent
                        {% elif event.category.name == "Health & Wellness" %}bg-gradient-to-t from-blue-400/90 via-green-700/40 to-transparent
                        {% elif event.category.name == "Islamic Functions" %}bg-gradient-to-t from-fuchsia-900/90 via-green-200/40 to-transparent
                        {% else %}bg-gradient-to-t from-orange-700/90 via-yellow-400/60 to-transparent {% endif %}
                        ">
            </div>

            
            <div class="absolute bottom-4 left-4 right-4 text-white text-sm font-semibold">
                <h1 class="title w-62 text-xl tracking-tighter font-medium">{{ event.name }}</h1> 

                <div class="bottom_portion mt-2 flex justify-between">
                    <div class="bl flex items-center gap-3">
                       
                        <div class="cal w-11 flex flex-col justify-center items-center h-14 rounded-md">
                            <div class="text-xs month rounded-t-md w-full h-1/3
                             
                             {% if event.category.name == 'Education' %}bg-gradient-to-t from-pink-600/70 via-black/60 to-transparent
                             {% elif event.category.name == "Business & Entrepreneurship" %}bg-gradient-to-t from-red-400/90 via-yellow-400/60 to-transparent
                             {% elif event.category.name == "Sports & Fitness" %}bg-gradient-to-t from-green-800/90 via-green-400/60 to-transparent
                             {% elif event.category.name == "Arts & Culture" %}bg-gradient-to-t from-red-800/90 via-red-400/60 to-transparent
                             {% elif event.category.name == "Technology" %}bg-gradient-to-t from-violet-800/90 via-blue-300/40 to-transparent
                             {% elif event.category.name == "Health & Wellness" %}bg-gradient-to-t from-blue-400/90 via-green-700/40 to-transparent
                             {% elif event.category.name == "Islamic Functions" %}bg-gradient-to-t from-fuchsia-900/90 via-fuchsia-500/40 to-transparent
                             {% else %}bg-gradient-to-t from-orange-700/90 via-yellow-400/60 to-transparent {% endif %}
                             
                             text-center">
                                {{ event.date|date:"M"|upper }}
                            </div>
                            <div class="date w-full h-2/3 rounded-b-md bg-white flex flex-col items-center justify-center">
                                <h4 class="text-base font-medium text-black">{{ event.date|date:"d" }}</h4>
                                <p class="text-xs uppercase leading-[.6] pb-2 text-black/60">{{ event.date|date:"D" }}</p>
                            </div>
                        </div>

                        
                        <div class="location w-28 text-xs">
                            <h5>{{ event.location }}</h5>
                            <h6 class="font-thin">Bangladesh</h6>
                        </div>
                    </div>

                    
                    <div class="br absolute bottom-0 right-0">{{ event.time|date:"g:i A" }}</div>
                </div>
            </div>
            </div>
        </a>
        {% endfor %}
        
    </div>
    {% else %}
    <h2 class="text-2xl mb-8 text-center">Click on Specific Event & <br> Then
        Select RSVP To Specific Event in EventDetails page.</h2>
    {% endif %}
</div>

</section>