{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">

</head>
<body>
    <header class="relative z-20 mx-6 px-3 py-5 flex justify-between items-center">
        {% comment %} LOGO  {% endcomment %}
        <div class="img flex justify-center items-center">
            <img src=" {% static 'images/logo1.png' %}" alt="" style="width: 50px;">
            <h1 class="text-xl font-semibold text-white">Events</h1>

        </div>

        <button id="hamburgerBtn" class="md:hidden flex flex-col gap-1 p-2">
            <span class="block w-6 h-0.5 bg-white"></span>
            <span class="block w-6 h-0.5 bg-white"></span>
            <span class="block w-6 h-0.5 bg-white"></span>
        </button>

        
        {% comment %} NAVIGATION  {% endcomment %}
        <nav class="hidden md:flex md:gap-4 items-center">
            <ul class="flex flex-col  md:flex-row gap-4  text-white">
               <a href="{% url "home" %}"> <li class="px-2 py-1 rounded-sm hover:bg-white/20">Home</li></a>
               <a href="{% url "home" %}#all-events"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Explore</li></a>
                <a href="{% url "organizer" %}"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Organizer</li></a>
               <li><button class="p-2 rounded-full relative hover:bg-white/20">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                </svg>
                </button></li>
               <a href="https://github.com/JUBAYER-AHMMED"><li>
                <button class="w-10 h-10 bg-white/30 backdrop-blur-sm rounded-full text-white text-center font-semibold border border-white/50">
                J
                </button>
               </li></a>
            </ul>
        </nav>
    </header>
    
    <ul id="navMenu"
    class="hidden flex-col items-center justify-center relative z-30 gap-4
           text-white text-lg text-center md:hidden
           border backdrop-blur-sm border-white/25 bg-white/20 shadow-md p-2">
        <a href="{% url "home" %}"> <li class="px-2 py-1 rounded-sm hover:bg-white/20">Home</li></a>
        <a href="{% url "home" %}#all-events"><li class="px-2 py-1 rounded-sm hover:bg-white/20">Explore</li></a>
        <li class="px-2 py-1 rounded-sm hover:bg-white/20">Organizer</li>
        <li class="hover:bg-white/20"><button class="p-2 rounded-full relative hover:bg-white/20">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                </svg>
                </button>
        </li>
        <a href="https://github.com/JUBAYER-AHMMED"><li class="hover:bg-white/20">
                <button class="w-10 h-10 bg-white/30 backdrop-blur-sm rounded-full text-white text-center font-semibold border border-white/50">
                J
                </button>
               </li>
        </a>
    </ul>
</body>
</html>